@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
    font-family: "Raleway", sans-serif, "Noto Sans KR", sans-serif;
    color: #222;
    /* margin: 0; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    /* background-color: #000; */
}

a {
    color: #fff;
    text-decoration: none;
}

.navi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.navi li {
}
.navi li a {
    font-size: 4em;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.navi li a:before {
    position: absolute;
    content: attr(data-text);
    color: yellowgreen;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.navi li a:hover:before {
    width: 100%;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(./images/portrait-initial.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
}
